
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: rgb(35, 173, 166);
}

.app {
  display: grid;
  height: 100%;
  width: 100%;
}

.app-grid-x {
  grid-template: auto / minmax(100px, 15vw) minmax(300px, 85vw);
  grid-template-areas: "bar content";
}
.app-grid-y {
  grid-template: minmax(300px, 85vh) minmax(100px, 15vh) / auto;
  grid-template-areas: "content" "bar";
}

.tool-bar {
  grid-area: bar;
  background-color: transparent;
}

.painel {
  grid-area: content;
  background-color: whitesmoke;
  border-radius: 20px;
}

.test {
  position: relative;
}