
/*=-=-=-=-=-=-=-=-=-=-=-=
  layout
  =-=-=-=-=-=-=-=-=-=-=-=*/

html, body, #root {
  height: 100%;
}

body {
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: black;
  outline-width: 1px;
}

/* app */

.app {
  display: grid;
  height: 100vh;
  width: 100%;

  grid-template: minmax(300px, 80vh) minmax(200px, 20vh) / 100vw;
  grid-template-areas: "content" "bar";
}

@media (orientation: landscape) {
  .app {
    grid-template: 100vh / minmax(100px, 20vw) minmax(300px, 80vw);
    grid-template-areas: "bar content";
  }
}

/* tool bar */

.tool-bar {
  grid-area: bar;
  background-color: rgb(10, 155, 165);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: max(1vw, 10px);
  overflow: auto;
}

@media (orientation: landscape) {
  .tool-bar {
    flex-direction: column;
  }
}

/* painel */ 

.painel {
  display: relative;
  grid-area: content;
  background-color: transparent;
  overflow: hidden;
}

/* red black tree */

.red-black-tree {
  margin: 25px;
  position: relative;
}

/* tree node */

.tree-node {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.circle {
  z-index: 1;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: backgound-color 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.node-text {
  color: white;
  font-weight: bold;
  line-height: 150%;
}

.svg-line {
  z-index: 0;
  position: absolute;
}

/* pad */

.pad {
  background-color: rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: content-box;

  max-width: 110px;
  width: 100%;
  max-height: 110px;
  height: 100%;
}

.button-container:hover,
.button-container:focus {
  background-color: rgb(75, 75, 75);
  cursor: pointer;
}

.button-container {
  font-size: 2rem;
  font-weight: bold;

  height: 45%;
  width: 100%;

  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  border-radius: 5px;
}

.pad-textbox {
  font-size: 2.5rem;
  text-align: center;

  height: 45%;
  width: 100%;

  border: none;
  border-radius: 5px;
}

/* scrollbar */

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
}
*::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
*::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
}
