
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: rgb(35, 173, 166);
}

.app {
  display: grid;
  height: 100%;
  width: 100%;
}

.app-grid-x {
  grid-template: auto / minmax(100px, 15vw) minmax(300px, 85vw);
  grid-template-areas: "bar content";
}
.app-grid-y {
  grid-template: minmax(300px, 85vh) minmax(100px, 15vh) / auto;
  grid-template-areas: "content" "bar";
}

.tool-bar {
  grid-area: bar;
  background-color: transparent;
}

.painel {
  display: relative;
  grid-area: content;
  background-color: whitesmoke;
  border-radius: 20px;
  overflow: hidden;
}

.red-black-tree {
  margin: 25px;
  position: relative;
}

.tree-node {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.circle {
  z-index: 1;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  transition: backgound-color 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.node-text {
  color: white;
  font-weight: bold;
  line-height: 150%;
}

.svg-line {
  z-index: 0;
  position: absolute;
}

/*==============*/

